<div id = 'log_div' class='container-sm'>

  <form action='/log' method='POST' id='login'>
    <div class='mb-3'>
      <label for='exampleInputName' class='form-label'>Email адрес</label>
      <input
        type='email'
        name='email'
        class='form-control'
        id='exampleInputName'
      />
    </div>

    <div class='mb-3'>
      <label for='exampleInputPassword1' class='form-label'>Пароль</label>
      <input
        type='password'
        name='password'
        class='form-control'
        id='exampleInputPassword1'
      />
    </div>
    <button id='btn_reg' type='submit' class='btn btn-primary'>Добавить</button>
  </form>
</div>
