
  
<div id="video-wrapper">


    <video loop muted autoplay poster="">

      <source src="bear.mp4" type="video/mp4">

    </video>


    <div class="content d-flex align-items-md-start">

      <div class="container text-center">

        <h2 class="textStart">Добро пожаловать в Ростовский зоопарк</h2>
        <h2 class="textStart">Самый интересный зоопарк в России</h2>

      </div>

    </div>

</div>



