<div class="d-flex bd-highlight">


  <div class="d-flex flex-column bd-highlight left-box">

    <div class="edit-group">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-dark edit-animal">Животные</button>
        <button type="button" class="btn btn-outline-dark edit-price">Тарифы</button>
      </div>
    </div>

  </div>

  <div class="d-flex bd-highlight right-box">

    <div class="wild-wrapper">


    </div>

  </div>


</div>
